.imgNav{
    margin-right: 50%;
    border-radius: 10px;
}

.buttonsLoginSignUp{
    display: flex;
}

.buttonsLoginSignUp > button{
    margin: 10px;
}

.buttonsLoginSignUp > a{
    font-size: 25px;
    margin: 10px;
    padding-right: 100px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.buttonsLoginSignUp > a:hover{
    transition-duration: 0.5s;
    color: rgb(37, 56, 149);
}

.nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1000px;
}

.registerText{
    position: absolute;
    left: 20%;
    bottom: 45%;
    font-weight: bolder;
    font-size: 30px;
}

.doutorzinho{
    position: absolute;
    width: 500px;
    left: 50%;
    bottom: 10%;
}

.buttonDoctor{
    display: flex;
    justify-content: center;
}

.buttonDoctor > button{
    margin: 10px;
}